.users-info {
  display: flex;
}

#info {
  background-color: #3f51b5;
}

#users-list {
  align-self: center;
}

.info {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

span {
  width: 300px;
}

.action-link {
  padding: 10px;
  text-decoration: none;
}
