.users-info {
  display: flex;
  margin-bottom: 20px;
}

#info {
  background-color: #3f51b5;
  border: 1px solid #3f51b5;
}

#users-list {
  align-self: center;
}

span {
  width: 300px;
}

.action-link {
  padding: 10px;
  text-decoration: none;
  color: white;
}

#edit-users {
  background-color: #3f51b5;
  border: 1px solid #3f51b5;
  margin-left: 20px;
}
