.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.images {
  width: 250px;
  height: 250px;
  flex-grow: 1;
  object-fit: cover;
}
