
<a href="/posts"><img src="/assets/images/back.png" ></a>
<h1>We can't wait to read your post!</h1>
<mat-card>
  <form [formGroup]="createPostForm" (submit)="SaveData()">
    <label for="title">Title</label>
    <br />
    <br />
    <input
      type="text"
      id="title"
      name="title"
      class="title"
      formControlName="title"
    />
    <br />
    <br />
    <label for="input">Body</label>
    <br />
    <br />
    <textarea
      id="input"
      name="input"
      rows="20"
      cols="180"
      maxlength="200"
      formControlName="body"
    >
    Enter text here...</textarea
    >
    <button type="submit" id="submit-btn">Submit</button>
    
  </form>
  <button id="delete-btn"><a href="/posts/delete-post/:id" id="delete-post">Delete</a></button>
</mat-card>
