.sidebar {
  max-width: 500px;
}

.button-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  gap: 10px;
  margin-top: 20px;
}

.primary {
  background-color: #7d8acd;
  height: 50px;
  border: 1px solid #7d8acd;
  color: white;
  font-size: 1.7rem;
  cursor:default;
}
.accent {
  background-color: #ff4081;
  height: 50px;
  border: 1px solid #ff4081;
  color: white;
  font-size: 1.7rem;
  cursor:default;
}

a {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
}

.hover:hover {
  background-color: rgb(162, 191, 247);
}
