<section>
  <div class="button-row">
    <button class="primary">Posts</button>
    <ul>
      <li><a href="/posts" class="hover">Posts</a></li>
      <li><a href="/posts/photos" class="hover">Photos</a></li>
      <li><a href="/posts/comments" class="hover">Comments</a></li>
    </ul>
    <button class="accent">Reports</button>
    <ul>
      <li><a href="/reports/bar-chart" class="hover">Bar Chart</a></li>
      <li><a href="/reports/users" class="hover">List of Users</a></li>
    </ul>
  </div>
</section>
