.sidebar {
  max-width: 500px;
}

.button-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  gap: 10px;
  margin-top: 20px;
}

.primary {
  background-color: #7d8acd;
  height: 50px;
  border: 1px solid #7d8acd;
}
.accent {
  background-color: #ff4081;
  height: 50px;
  border: 1px solid #ff4081;
}

a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

#posts {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

#reports {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
