.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 35px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  padding: 10px;
  font-style: italic;
}

p {
  padding: 20px;
  text-align: center;
}

.post-info {
  flex-grow: 1;
  width: 450px;
  height: 260px;
  border: 1px solid rgb(148, 146, 146);
}

.create {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.add-btn {
  background-color: cornflowerblue;
  height: 40px;
  border: 1px solid cornflowerblue;
  border-radius: 20px;
}

.add-btn:hover {
  background-color: darkgray;
}

.add-link {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

#comment-title {
  text-decoration: none;
  font-size: 1rem;
  margin-left: 100px;
}
